@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito';
}

@keyframes jump {
    0% {
      transform: translateY(0) scaleX(1) scaleY(1);
    }
    50% {
      transform: translateY(-28px) scaleX(0.9) scaleY(1.1);
    }
    100% {
      transform: translateY(0) scaleX(1) scaleY(1);
    }
  }

  @keyframes squish {
    0% {
        transform: scaleX(1);
        transform: scaleY(1);
    }
    50% {
        transform: scaleX(0.8);
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleX(1);
        transform: scaleY(1);
    }
  }
  
  .jumping-animation {
    animation: jump 0.7s infinite;
  }

  .squish-animation {
    animation: squish 0.7s infinite;
  }
  