@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito';
}

@keyframes jump {
  0% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  50% {
    transform: translateY(-28px) scaleX(0.9) scaleY(1.1);
  }
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}

.jumping-animation {
  animation: jump .9s infinite;
}

  